html,body {
    background: linear-gradient(to right, #ffffffdb, #ebebebdb, #dbdbdbdb);

}

.caixaImg {
    position: relative;
    display: inline-block;
    text-align: center;
    justify-content: center;

}

.imagem {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}

.caixaImg:hover .sobreposicao {
    opacity: 0.6;
}

.sobreposicao {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #ff348e;
}

.texto {
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 5;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

header {
    background: linear-gradient(to right, #ffffffdb, #ebebebdb, #dbdbdbdb);
    width: auto;
    padding-left: 20px;
    padding-top: 30px;
}

.principal {
    color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: arial;
    padding-top: 60px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;

}

h2 {
    font-size: 45px;
    font-family:Arial, Helvetica, sans-serif;
}

p, ul {
    font-family: 'PT Sans', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    font-size: medium;
    text-align: justify;
    line-height: 25px;
}


/*parágrafo*/
.box {
    text-align: center;
    justify-content: center;
    padding-bottom:70px;
    padding-top: 70px;
    display:grid;
    margin: auto;
    background: linear-gradient(to right,#667eb3,#fffdf2,#fffdf2,#fffdf2,#667eb3);
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: arial;

}

.titulo {

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center center;
    font-size: sm;
}

.link {
    text-decoration: none;
    color: black;
}

.rodape {
    grid-area: rodape;
    margin: 15px;
    font-family: 'PT Sans', sans-serif;
    font-size: x-small;
    text-align: justify;
}


svg{
    width: 30px;
    margin: 10px;
}

.icon{
    margin-top: 20%;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

button{
    width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: arial;
}

.sobre{
    text-align: center;
    justify-content: center;
    display:list-item;
    background: linear-gradient(to right,#cecece,#ffffff,#cecece);
}

.offcanvas-body{
   color:#fffdf2;
  background-color: #667eb3;
}

.box2{
    margin-top: 25px;
    margin-left: 70px;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }